# 修改 本地节假日显示
MODIFY|CscFeature_Calendar_EnableLocalHolidayDisplay|CHINA

# 修改 农历显示
MODIFY|CscFeature_Calendar_EnableLunar|TRUE

# 修改 天气源为中国天气
MODIFY|CscFeature_Weather_ConfigCpType|CMA

# 修改 加入网速显示
MODIFY|CscFeature_Setting_SupportRealTimeNetworkSpeed|TRUE

# 修改 S Pen 的默认翻译方案
MODIFY|CscFeature_SPen_ConfigDefTranslatorSolution|Google

# 修改 加入通话录音
MODIFY|CscFeature_VoiceCall_ConfigRecording|RecordingAllowed

# 修改 加入允许相机静音(A14以上无效)
MODIFY|CscFeature_Camera_ShutterSoundMenu|TRUE

# 删除 按 BPMF（注音符号）排序的联系人列表。
DELETE|CscFeature_Contact_EnableBPMFSortList

# 删除 按笔画排序的联系人列表
DELETE|CscFeature_Contact_EnableStrokeSortList

# 删除 默认的最近使用应用锁定列表
DELETE|CscFeature_SystemUI_ConfigRecentDefaultLockList

# 修改 智能管理器支持功能
MODIFY|CscFeature_SmartManager_ConfigSubFeatures|appdatacleaner|trafficmanager_auto|fake_base_station|rootbadgefeature|badappnoti|trafficmanager|applock|paymentsafety|riskcontrol|newdataplan

# 修改 加入骚扰拦截
MODIFY|CscFeature_Setting_EnableMenuBlockCallMsg|TRUE

# 修改 加入黄页
MODIFY|CscFeature_Contact_ConfigForYellowPage|SHOW

# 修改 加入安全音量警告
MODIFY|CscFeature_Audio_SupportSafeMediaVolumeDialog|TRUE

# 删除 未知号码的服务提供商
DELETE|CscFeature_Common_ConfigSvcProviderForUnknownNumber

# 修改 来电显示匹配的数字(11位)
MODIFY|CscFeature_RIL_CallerIdMatchingDigit|11

# 删除 未知号码的服务提供商
DELETE|CscFeature_Setting_BlockToSelectDunApnType

# 删除 微信后台保活
DELETE|CscFeature_SystemUI_ConfigRecentDefaultLockList

# 修改 计算器单位使用中国单位
MODIFY|CscFeature_Calculator_ConfigConverter|CHN

# 修改 本地时间的预设选项
MODIFY|CscFeature_Clock_ConfigLocalTimerPreset|China

# 修改 自动开关机菜单
MODIFY|CscFeature_Clock_EnableAutoPowerOnOffMenu|TRUE

# 修改 工作日闹钟
MODIFY|CscFeature_Clock_SupportAlarmOptionMenuForWorkingDay|TRUE

# 修改 电话号码的类型
MODIFY|CscFeature_Contact_ConfigTelNumType|CHC

# 修改 多拼音搜索
MODIFY|CscFeature_Contact_EnableMultiplePinyinSearch|TRUE

# 修改 模糊搜索(不知道做了啥，不过国行都有，跟着加上了)
MODIFY|CscFeature_Contact_EnablePuzzySearch|CHNGSM

# 修改 统一的联系人姓名字段
MODIFY|CscFeature_Contact_UseUniNameField|TRUE

# 修改 启用CPM（Content Provider Messaging）
MODIFY|CscFeature_Message_EnableCpm|TRUE

# 修改 合并短信聊天机器人线程
MODIFY|CscFeature_Message_SupportBotThreadsMerge|TRUE

# 修改 短信中对电话号码进行格式化
MODIFY|CscFeature_Message_EnablePhoneNumberFormattingInMsg|TRUE

# 修改 允许硬件版本显示(关于手机中显示硬件版本)
MODIFY|CscFeature_Setting_EnableHwVersionDisplay|TRUE

# 修改 允许显示已预装的应用程序列表
MODIFY|CscFeature_Setting_SupportPreInstallerShowPreloadAppList|TRUE

# 修改 IMS（IP多媒体子系统）功能，启用视频彩铃和单向视频通话功能
MODIFY|CscFeature_VoiceCall_ConfigOpStyleForImsFunction|crbt_video_cmcc,unidirectional_video_ctc

# 修改 垃圾电话
MODIFY|CscFeature_VoiceCall_ConfigOpStyleForSpamCall|DELAYEDRING,SMARTMANAGER

# 修改 显示来电者的自定义彩铃信息
MODIFY|CscFeature_VoiceCall_SupportCrtCrbtText|CRBTTEXT

# 修改 “关于设备” 禁用显示与型号相关的后缀(如 DS 后缀，这通常表示双SIM卡版本的设备)
MODIFY|CscFeature_Setting_ConfigAboutDeviceItems|modelnumberDSsuffix=disabled

# 修改 允许用户选择默认助理程序
MODIFY|CscFeature_SystemUI_SupportAssistanceAppChooser|TRUE

# 修改 图标风格
MODIFY|CscFeature_Contact_ConfigImsOpStyle|CHNOPEN
MODIFY|CscFeature_Contact_ConfigOpStyleVariation|CHC
MODIFY|CscFeature_SystemUI_ConfigOpBrandingForIndicatorIcon|CHC
MODIFY|CscFeature_SystemUI_ConfigQuickSettingPopup|CHC

# 修改 优化拨号中文搜索
MODIFY|CscFeature_DeviceSearch_AlwaysShowSipWhenSwipeLaunched|TRUE

# 修改 GMS 定时唤醒(节电？影响FCM，推迟 alarm，限制 wakelock)
MODIFY|CscFeature_Common_SupportGmsAlarmManager|FALSE

# 修改 VIP 模式？不确定作用
MODIFY|CscFeature_Common_EnableVIPMode|TRUE

#修改 快速面板显示 数据使用情况
MODIFY|CscFeature_SystemUI_SupportDataUsageViewOnQuickPanel|TRUE

#修改 添加5G开关
MODIFY|CscFeature_SystemUI_ConfigDefQuickSettingItem|Wifi,SoundMode,Bluetooth,RotationLock,AirplaneMode,Flashlight,MobileData,TurnOn5g,Hotspot,BatteryMode,Location,WindowsLink,ScreenCapture,ScreenRecorder,ShareLive,DesktopMode,AllShareCast,BlueLightFilter,NightMode,Dnd,RedPacket,QRScanner