# 修改 设备支持的网络类型能力
MODIFY|CarrierFeature_RIL_ConfigNetworkTypeCapability|CHC-CHC-GSM-CHN

# 删除 阻止选择DUN（拨号上网）APN类型
DELETE|CarrierFeature_Setting_BlockToSelectDUNApnType

# 删除 禁用的网络模式
DELETE|CarrierFeature_Setting_DisableNetworkMode

# 修改 语音呼叫支持的网络列表
MODIFY|CarrierFeature_VoiceCall_ConfigNetworkList|NetworkModeInChn

# 修改 移动网络设置相关的操作样式
MODIFY|CarrierFeature_VoiceCall_ConfigOpStyleForMobileNetSetting|voltesettingscommon,voltesettingCHN,support_hvolte_solution_ctc,support_volte_ctc_spec_2019_11

# 修改 移动网络设置菜单的操作样式
MODIFY|CarrierFeature_VoiceCall_ConfigOpStyleMobileNetworkSettingMenu|+cdmasystemselect,+datapreferduringcalling,+cdmasubscription,+voltecall,+preferrednetworks,+sroaming,+networkstatus,networkstatus_current_state,+preferrednetworkmode

# 修改 配置4G Plus（通常是LTE-Advanced）图标显示带宽
MODIFY|CarrierFeature_RIL_Display4gPlusIconBandwidth|20

# 修改 软SIM(Soft SIM)支持(三星畅联?)
MODIFY|CarrierFeature_VoiceCall_ConfigOpStyleForNetworkSetting|SupportSoftSim

# 图标风格
MODIFY|CarrierFeature_SystemUI_ConfigOpBrandingForIndicatorIcon|CHC
MODIFY|CarrierFeature_VoiceCall_ConfigOpStyleForHdIcon|CHC_OPEN_HD,5G_SUPPORT
