# 修改 智能管理器
MODIFY|SEC_FLOATING_FEATURE_SMARTMANAGER_CONFIG_PACKAGE_NAME|com.samsung.android.sm_cn
MODIFY|SEC_FLOATING_FEATURE_SECURITY_CONFIG_DEVICEMONITOR_PACKAGE_NAME|com.samsung.android.sm.devicesecurity.tcm

# 修改 自动开关机
MODIFY|SEC_FLOATING_FEATURE_SETTINGS_SUPPORT_AUTO_POWER_ON_OFF|TRUE

# 修改 快速设置面板切换麦克风模式
MODIFY|SEC_FLOATING_FEATURE_AUDIO_SUPPORT_MICMODE_QUICK_PANEL|TRUE

# 修改 智能监控（Smart Monitor）进行VoIP（Voice over IP，网络语音通信）
MODIFY|SEC_FLOATING_FEATURE_AUDIO_SUPPORT_VOIP_VIA_SMART_MONITOR|TRUE

# 修改 BSOH（Battery State of Health，电池健康状态）检测
MODIFY|SEC_FLOATING_FEATURE_BATTERY_SUPPORT_BSOH_GALAXYDIAGNOSTICS|TRUE
MODIFY|SEC_FLOATING_FEATURE_BATTERY_SUPPORT_BSOH_SETTINGS|TRUE

# 修改 旁路供电
MODIFY|SEC_FLOATING_FEATURE_BATTERY_SUPPORT_PASS_THROUGH|TRUE

# 修改 支持 Bixby KWD（Keyword Detection，即关键词检测）
MODIFY|SEC_FLOATING_FEATURE_BIXBY_SUPPORT_BIXBYKWD|TRUE

# 修改 支持“三星小贝”语音助手的关键词唤醒
MODIFY|SEC_FLOATING_FEATURE_BIXBY_SUPPORT_SANXINGXIAOBEIKWD|TRUE

# 修改 及圈及搜 支持
MODIFY|SEC_FLOATING_FEATURE_COMMON_SUPPORT_BIXBY_TOUCH|TRUE

# 修改 Carlife 支持
MODIFY|SEC_FLOATING_FEATURE_COMMON_SUPPORT_CARLIFE|TRUE

# 修改 Google AI 搜索
MODIFY|SEC_FLOATING_FEATURE_COMMON_GOOGLE_AI_SEARCH|TRUE

# 修改 智能建议小部件
MODIFY|SEC_FLOATING_FEATURE_FRAMEWORK_SUPPORT_SMART_SUGGESTIONS_WIDGET|TRUE

# 修改 生成型AI 离线语言模型
MODIFY|SEC_FLOATING_FEATURE_GENAI_SUPPORT_OFFLINE_LANGUAGEMODEL|TRUE

# 修改 户外模式(额外亮度)
MODIFY|SEC_FLOATING_FEATURE_LCD_SUPPORT_EXTRA_BRIGHTNESS|TRUE

# 修改 增强的处理性能
MODIFY|SEC_FLOATING_FEATURE_SYSTEM_SUPPORT_ENHANCED_CPU_RESPONSIVENESS|TRUE
MODIFY|SEC_FLOATING_FEATURE_SYSTEM_SUPPORT_ENHANCED_PROCESSING|TRUE

# 修改 低温模式
MODIFY|SEC_FLOATING_FEATURE_SYSTEM_SUPPORT_LOW_HEAT_MODE|TRUE

# 修改 关闭三星广告营销
MODIFY|SEC_FLOATING_FEATURE_COMMON_SUPPORT_SAMSUNG_MARKETING_INFO|FALSE

# 修改 高触控采样率
MODIFY|SEC_FLOATING_FEATURE_GRAPHICS_SUPPORT_TOUCH_FAST_RESPONSE|TRUE

# 修改 即时简报（？
MODIFY|SEC_FLOATING_FEATURE_FRAMEWORK_SUPPORT_PERSONALIZED_DATA_CORE|TRUE

# 修改 关闭安全Wi-Fi
MODIFY|SEC_FLOATING_FEATURE_WLAN_SUPPORT_SECURE_WIFI|FALSE

# 修改 Adaptive Power Saving for Wi-Fi
MODIFY|SEC_FLOATING_FEATURE_WIFI_SUPPORT_ADPS|TRUE

# 修改 全屏AOD
SEC_FLOATING_FEATURE_LCD_CONFIG_AOD_FULLSCREEN|1

# 修改 Dex 支持独立模式
SEC_FLOATING_FEATURE_COMMON_CONFIG_DEX_MODE|standalone,dual,wireless